<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserToolsMapper">


    <select id="searchDishByKeyWords" resultType="com.sky.entity.Dish">
        SELECT DISTINCT * FROM dish
        <where>
            <foreach collection="list" item="keyword" separator="OR">
                name LIKE CONCAT('%', #{keyword}, '%')
                OR description LIKE CONCAT('%', #{keyword}, '%')
            </foreach>
        </where>
    </select>

    <select id="searchSetmealByKeyWords" resultType="com.sky.entity.Setmeal">
        SELECT DISTINCT * FROM setmeal
        <where>
            <foreach collection="list" item="keyword" separator="OR">
                name LIKE CONCAT('%', #{keyword}, '%')
                OR description LIKE CONCAT('%', #{keyword}, '%')
            </foreach>
        </where>
    </select>
</mapper>
